/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text: #757575;
  --secondary-text: #212121;
  --accent-color: #2196f3;
  --secondary-text-white: #ffffff;
}

body {
  font-family: var(--primary-font);
}

address {
  font-family: var(--primary-font);
  font-style: normal;
}

.logo-style,
.logo-studio {
  font-family: var(--secondary-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* Logo */
.logo-style {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--secondary-text);
}

.logo-style-footer {
  color: var(--accent-color);
}
.logo-studio-footer {
  color: var(--secondary-text-white);
}
/* /Logo */
